<h1>StaticPages#contact</h1>
<!-- <form>
  <div class="form-group">
    <div class="col-xs-4 col-xs-offset-1">
      <label for="email">Email: </label>
      <input type="text" id="email">
    </div>

  </div>
  <div class="form-group">
    <div class="col-xs-4 col-xs-offset-1">
      <input type="button" class="form-control btn btn-primary" value="Submit">
    </div>

  </div>
</form>
<div class="row">
  <div class="col-sx-4 col-xs-offset-3">
    something else
  </div>
  <div class="col-xs-4 col-xs-offset-3">
    something something else
  </div>
</div> -->

<form class="form-group">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-1">
      <label for="email">Email: </label>
      <input type="text" id="email" class="form-control">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-1">
      <button type="submit" class="form-control btn btn-primary">Submit</button>
    </div>
  </div>
</form>
