<h3>Create User</h3>

<form action="/users" method="post">
  <%= auth_token %>
  <%= render "layouts/errors" %>
  <div class="form-group col-xs-4 col-xs-offset-1">
  <label for="email">Email: </label>
  <input type="text" class="form-control" name="user[email]" id="email" value="<%= @user.email %>">
  </div>
  <br><br><br><br>
  <div class="form-group col-xs-4 col-xs-offset-1">
  <label for="password">Password: </label>
  <input type="password" name="user[password]" id="password" class="form-control">
  </div>
  <br><br><br><br>
  <div class="form-group">
    <div class="col-xs-4 col-xs-offset-1">
      <input type="submit" class="btn btn-primary" value="Create User" class="form-control">
    </div>
  </div>
</form>
